<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Rating</a>
                <a href="#" class="dropdown-item ">By Category</a>
                <a href="#">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homedeco-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home Decoration
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homedeco-link">
                <a href="#" class="dropdown-item">Lighting</a>
                <a href="#" class="dropdown-item">Garden</a>
                <a href="#" class="dropdown-item">Cushions</a>
                <a href="#" class="dropdown-item">Kitchen &amp; Bath</a>
                <a href="#" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="children-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Children
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="children-link">
                <a href="#" class="dropdown-item">Toys</a>
                <a href="#" class="dropdown-item">Kitchenware</a>
                <a href="#" class="dropdown-item">Bedroom</a>
                <a href="#" class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="antique-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Antique
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="antique-link">
                <a href="#" class="dropdown-item">Pottery</a>
                <a href="#" class="dropdown-item">Linens</a>
                <a href="#" class="dropdown-item">Lighting</a>
                <a href="#" class="dropdown-item">All</a>
            </div>
        </li>
    </ul>
</div>