<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<div class="row">
  <div class="col-12 mx-auto">
    <div class="d-flex align-items-center justify-content-evenly">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        Sort All Products
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">By Price</a></li>
          <li><a class="dropdown-item" href="#">By Rating</a></li>
          <li><a class="dropdown-item" href="#">By Category</a></li>
          <li><a class="dropdown-item" href="#">All Products</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        Home Decoration
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Lighting</a></li>
          <li><a class="dropdown-item" href="#">Garden</a></li>
          <li><a class="dropdown-item" href="#">Cushions</a></li>
          <li><a class="dropdown-item" href="#">Kitchen &amp; Bath</a></li>
          <li><a class="dropdown-item" href="#">All</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        For Children
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Toys</a></li>
          <li><a class="dropdown-item" href="#">Kitchenware</a></li>
          <li><a class="dropdown-item" href="#">Bedroom</a></li>
          <li><a class="dropdown-item" href="#">All</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        Antique
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Pottery</a></li>
          <li><a class="dropdown-item" href="#">Linens</a></li>
          <li><a class="dropdown-item" href="#">Lighting</a></li>
          <li><a class="dropdown-item" href="#">All</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
