{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An e-store website to find products new and antique for all of your needs.
    Here you will find products for home decoration, children, and antiques. Recycle, design, antique.">
    <meta name="author" content="Kai Michael-Mikhail">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    <base href="/">
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.png' %}">
    {% block corecss %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <!-- Bootsrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block corejs %}
    <!-- Font Awesome Script -->
    <script defer src="https://kit.fontawesome.com/2032da95d4.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock corejs %}
    {% block extra_js %}
    {% endblock %}
    <title>Kaberg Design {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header class="container-fluid">
    <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-green">
            <div class="container">
                <a class="navbar-brand text-black" href="{% url 'home' %}"><strong>Kaberg</strong> Design</a>
                <button class="navbar-toggler border-black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-black">
                        <li class="nav-item"><a class="nav-link text-black" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        {% if user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" href="{% url 'add_product' %}">Product Management</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" href="{% url 'profile' %}">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" aria-current="page" href="{% url 'account_login' %}">Login</a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-black" aria-current="page" href="{% url 'contact_us' %}">Contact Us</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-11 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-outline-dark border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </nav>
        <div class="d-flex">
            <div id="delivery-banner" class="row ms-auto me-auto">
                <div class="col text-black">
                    <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
                </div>
            </div>
            <div class="cart-position">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                <div class="text-center text-black ml-5">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </p>
                </div>
            </a>
            </div>
        </div>
    </header>
    <main>
        <!-- Messages -->
        <div class="container">
            <div class="row">
                <div class="col md-8 offset-md-2">
                    
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissable fade show mt-3" id="msg" role="alert">
                            {{ message | safe}}
                            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close">

                            </button>
                        </div> 
                    {% endfor %}
                        
                </div>
            </div>
        </div>
        <div class="row mt-2">
            {% include 'includes/main-nav.html' %}
        </div>
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </main>
    <!-- Footer-->
    <footer class="py-3 bg-green text-black">
        <div class="container">
            <h5 class="m-0 text-center footer-text">Do you have any questions or concerns for us at Kaberg Design? Contact us
                <a class="text-underline-hover footer-text fw-bolder text-black"
                aria-label="Navigate to the contact us page" href="{% url 'contact_us' %}">here</a> </h5>
            <h5 class="m-0 text-center footer-text">Do you want to here the latest from us at Kaberg Design? Subscribe to our newsletter
                <a class="text-underline-hover footer-text fw-bolder text-black"
                aria-label="Navigate to the contact us page" href="{% url 'subscribe' %}">here</a> </h5>
            <p class="m-0 text-center footer-text">See more of the website creator's work <a class="text-underline-hover footer-text fw-bolder text-black" target="_blank"
                aria-label="Visit the GitHub page of the creator of this site" href="https://github.com/Dekeypetey40">here</a></p>
        </div>
    </footer>
    <!-- JS to apply active class to navlinks from stackoverflow -->
    <script>
        document.querySelectorAll(".nav-link").forEach((link) => {
            if (link.href === window.location.href) {
                link.classList.add("fw-bolder");
                link.setAttribute("aria-current", "page");
            }
        });
    </script>
    {% block postloadjs %}
    {% endblock %}
    {% block extrajs %}
        
    {% endblock %}
        
</body>
</html>