{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An e-store website to find products new and antique for all of your needs.">
    <meta name="author" content="Kai Michael-Mikhail">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    <base href="/">
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.png' %}">
    {% block corecss %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    <!-- Bootsrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <title>Kaberg Design {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header class="container-fluid fixed-top"></header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Project done for Code Institute by Kai Michael-Mikhail 2023</p>
            <p class="m-0 text-center text-white">See more of my work <a class="text-white text-underline-hover fw-bold" href="https://github.com/Dekeypetey40">here</a></p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/2032da95d4.js" crossorigin="anonymous"></script>
    <!-- JS to apply active class to navlinks from stackoverflow -->
    <script>
        document.querySelectorAll(".nav-link").forEach((link) => {
            if (link.href === window.location.href) {
                link.classList.add("active");
                link.setAttribute("aria-current", "page");
            }
        });
    </script>
    
    {% block extrajs %}
        
    {% endblock %}
        
</body>
</html>