{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid pt-3 background-container">
    <div class="container products-container h-100">
        <div class="row mb-3 mt-3">
            <h1 class="products-header text-center">Welcome to Kaberg Design</h1>
            <hr class="mb-1">
            <div>
                <h2 class="fs-5 mt-2 mb-2 float-start">{{ total_products }} products | showing {{ products|length }} {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {{ products }}
        </div>
    </div>
</div>
{% endblock content %}