{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Subscribe to our newsletter</h2>
                <p>Simply enter your email to subcribe.</p>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-sm-10 col-xs-10">
                <form method="POST" action="{% url 'subscribe' %}" class="form mb-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-auto">
                            <p class="pt-2">Subscribe for our newsletter</p>
                        </div>

                        <div class="col-auto">
                            <input id="name" name="name" class="form-control" placeholder="Your Name"/>
                        </div>

                        <div class="col-auto my-3">
                            <input id="email" name="email" type="email" class="form-control" placeholder="Email address"/>
                        </div>
                    <div class="row justify-content-center text-right">
                        <a class="btn btn-outline-dark rounded-0 mx-3 mb-3" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-secondary rounded-0 mx-3" type="submit">Subscribe</button>
                    </div>
                </form>
                <div class="row justify-content-center text-right mb-5">
                    <a class="btn btn-danger rounded-0 mx-3" href="{% url 'unsubscribe' %}">Unsubscribe</a>
                </div>
            </div>            
        </div>
    </div>
{% endblock %}